{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <div id="content-main">
    <div class="module" id="changelist">
        <form id="changelist-form" action="" method="post">{% csrf_token %}
            <table cellspacing="0" id="result_list">
                <tr>
                    <th>Name</th>
                    <th>Default</th>
                    <th>Value</th>
                    <th>Help text</th>
                </tr>
                {% for item in config %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td>{{item.default}}</td>
                        <td>
                            {{item.form_field.errors}}
                            {{item.form_field}}
                        </td>
                        <td>{{item.help_text}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan=4><input type='submit' value='Submit' /></th>
                </tr>
            </table>
        </form>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="../../">
    {% trans "Home" %}
  </a>
   &rsaquo; 
   <a href="../">
     {{ app_label|capfirst }}
  </a>
  &rsaquo; 
  {{ opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
